@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(#000 1px, transparent 0px) 0 0 / 24px 24px;
}

.grid-vector {
  @apply grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4 m-4;
}

.vector {
  @apply bg-white rounded-lg border border-gray-300 p-4 min-h-[600px] relative;
}

.button-add-vector-container {
  @apply flex justify-center items-center min-h-[600px];
}

.button-add-vector-icon {
  @apply text-gray-500 text-4xl;
}

.button-add-vector {
  @apply bg-white hover:bg-gray-50 border-gray-300 focus:outline-none rounded-lg p-4;
  @apply min-h-[196px] min-w-[196px] py-2.5 px-5 border flex items-center justify-center;
}

.slider-container {
  @apply absolute  w-1/4 bottom-4 right-12;
}

.slider-track {
  @apply appearance-none h-5;

  background: linear-gradient(
        to right,
        theme("colors.gray.300"),
        theme("colors.gray.300")
      )
      no-repeat left center,
    linear-gradient(to left, theme("colors.gray.300"), theme("colors.gray.300"))
      no-repeat right center,
    linear-gradient(theme("colors.gray.300"), theme("colors.gray.300"))
      no-repeat center center;
  background-size: 2px 100%, 2px 100%, 100% 2px;
  background-position: left center, right center, center center;
}

.slider-thumb {
  @apply appearance-none h-5 w-2.5 rounded-sm bg-gray-500 border-none;
  box-sizing: border-box;
}

@layer components {
  input[type="range"] {
    @apply appearance-none w-full;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply slider-track;
  }

  input[type="range"]::-moz-range-track {
    @apply slider-track;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply slider-thumb;
  }

  input[type="range"]::-moz-range-thumb {
    @apply slider-thumb;
  }
}

.tooltip-styles {
  @apply absolute block rounded-md bg-sky-400 text-white text-xs text-center w-8 h-6 leading-6;
}

.tooltip-span-styles {
  @apply absolute content-[""] w-0 h-0 border-t-8 border-sky-400;
  @apply translate-y-6 left-2/4 -ml-[5px];

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip-value {
  @apply absolute -translate-y-8;
}

.tooltip-value span {
  @apply tooltip-styles;
  @apply left-2/4 -translate-x-2/4;
}

.tooltip-value span:before {
  @apply tooltip-span-styles;
}

.tooltip-split {
  @apply fixed cursor-pointer;
  @apply opacity-0 transition-opacity duration-300 ease-in-out;
}

.tooltip-split span {
  @apply tooltip-styles;
}

.tooltip-split span:before {
  @apply tooltip-span-styles;
}
